*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page{
width: 100vw;
height: 100vh;
background-image: url(https://th.bing.com/th/id/OIP.w9XC_RkwM1zxmM55AMkaZAHaE8?w=280&h=187&c=7&r=0&o=5&pid=1.7);
background-size: cover;
}
.container{
height: 100%;
width: 100%;
/* display: grid;
grid-template-areas: "navbar navbar navbar"
                      "main main main"
                      "footer footer footer"; */
}


.navbar{
    height: 10%;
    width: 100%;
margin: auto;

/* grid-area: navbar; */
/* background-color: aquamarine; */
display: flex;
justify-content: space-between;
align-items: center;
position:fixed;
color: white;
/* margin-top: 10px; */
z-index: 1;

}

.nav-lft{
    display: flex;
    justify-content: center;
}
.navbar img{
    height:40px;
    align-self: center;
}
.nav-lft li{
    align-self: center;
    
}
.nav-lft li a{
  margin: 5px;
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.nav-rt{
    display: flex;
    align-items: center;
    /* margin: 5px; */

}
.nav-rt h2{
    margin-right:30px;
}
.nav-rt .login{
    width: 120px;
    height: 35px;
    background-color:white;
    border-radius: 2em;
    margin: 10px;
    font-size: 20px;
    border: none;
    background-image: linear-gradient(to right,rgb(247, 194, 238),rgb(250, 168, 121));
    color: white;
}
.main{
    height: 100%;
    width: 100%;
    /* grid-area: main; */
    /* background-color: bisque; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}
.main h1{
    font-size: 5em;
    color: white;
    /* margin-bottom: 2em; */
}
.create-account{
    height: 50px;
    width: 200px;
    /* margin-bottom: 20px; */
    /* margin-top: 3em; */
    font-size: 20px;
    font-weight: 700;
    border-radius: 5em;
    border: none;
    background-image: linear-gradient(to right,rgb(247, 194, 238),rgb(250, 168, 121));
    color: white;
}

.footer{
    width: 100%;
    height: 150vh;
    /* grid-area: footer; */
    background-color: rgb(211, 210, 223);
    margin: auto;
}
.social{
    width: 10%;
    display: flex;
    
    /* background-color: beige; */
    flex-direction: column;
    
}
.footer .slides{
    height: 40%;
    width: 90%;
    display: flex;
    margin: auto;
   margin-bottom: 5em;
   gap: 2em;
   
}
.slide{
    padding: 30px;
    height: 100%;
    /* background-color: brown; */
    border: 1px solid white;
    border-radius: 1em;
}
.rebecca h3,.Lauren h3,.Courtaney h3{
    margin-bottom: 1em;
    border-bottom: 1px solid white;
    
}
.info{
    width: 90%;
    display: flex;
    margin: auto;
    gap: 3em;
    /* background-color: blue; */
    border-bottom:2px solid gray ;
     
   
    
}
.info li{
    display: flex;
    flex-direction: column;
    line-height: 2em;
   
}
.info a{
    text-decoration: none;
}

.info .soci{
    /* width: 20%; */
    display: flex;
    /* flex-direction: column; */
    /* background-color: aqua; */

}
info .soci i{
    font-size: 25px;
    
}
.theo{
    display: flex;
    flex-direction: column;
}
